.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.track-container {
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.track-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}