.track-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card-title {
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 600;
    text-align: center;
}

.track-description {
    font-size: clamp(0.9rem, 1.8vw, 1.2rem);
    text-align: center;
    margin-top: 1rem;
}

footer {
    background-color: rgb(12, 0, 40);
    font-size: 0.9rem;
    border-top: 1px solid black;
    color: white;
}