.track-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.track-img {
    width: clamp(200px, 50%, 400px);
    height: auto;
    border-radius: 10px;
}

.card-title {
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 600;
    text-align: center;
}

.track-description {
    font-size: clamp(0.9rem, 1.8vw, 1.2rem);
    text-align: center;
    margin-bottom: 2rem;
}